*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    text-align: center;
}

footer{
    overflow: hidden;
    background: black;
    color: #f7f708;
    height: 20px;
    align-content: center;
	font-family: "Georgia",serif;
}

header{
    height: 100px;
    background: black;
    width: 100%;
    z-index: 12;
	font-family: "Georgia",serif;
	margin-bottom: 20px;
}

.title{
    width: 50%;
    line-height: 100px;
	color: #f7f708;
	font-size: 40px;
	display: block;
	position: absolute;
	left: 25%
}

.esp_logo{
	height: 80px;
	width: 80px;
	left: 200px;
	top: 10px;
	display: block;
	position: absolute;
}

.umbr_logo{
	height: 80px;
	width: 80px;
	right: 200px;
	top: 10px;
	display: block;
	position: absolute;
}

.content{
    margin-top: 20px;
	margin-bottom: 20px;
}

body {
    padding: 0 0 0 0;
	font-family: sans-serif;
}

#bar {
    width: 90%;
    margin: auto;
	font-family: "Verdana",sans-serif;
	font-style: bold;
}

#total_bar {
	height: 10%;
	width: 90%;
	margin: auto;
	font-family: "Verdana",sans-serif;
	font-style: bold;
}

#dropdown {
	width: 90%;
	left: 12.5%;
	margin: auto;
	color: darkgray;
}

.Select-placeholder {
	margin-top: 20px;
}

#react-select-2--value {
	margin-top: 20px;
}

#table {
	width: 90%;
	margin: auto;
}

#table img{
	width: auto;
	height: fit-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
} */

header {
	height: min(20vh, 200px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	background-color: black;
}

.title {
	color: white;
	font-size: 32px;
}

.footer {
	height: min(7vh, 50px);
	background-color: black;
	color: white;
	display: grid;
	place-items: center;
}

.container {
	padding: 2.5% 5%;
}

#dropdown {
	color: white;
	padding: 0.5rem 0;
	margin-bottom: 2.5%;
}

tbody > *:nth-child(2) img {
	width: 120px
}

tbody > *:nth-child(3) img {
	width: 40px !important;
}

.dash-header > *, .dash-cell-value > * {
	text-align: center;
}