* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	height: min(20vh, 200px);
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content:space-evenly; */
	padding: 0 5%;
	background-color: black;
}

.title {
	margin-left: 4rem;
	margin-right:auto;
}

nav {
	display: flex;
	gap: 2rem;
	margin-right: 4rem;
}

.title a, nav a {
	color: white;
	text-decoration: none;
}

.footer {
	height: min(7vh, 50px);
	background-color: black;
	color: white;
	display: grid;
	place-items: center;
}

.container {
	padding: 2.5% 5%;
}

/* home */
.home {
	display: flex;
	flex-direction: row;
	background-color: antiquewhite;
}

.home_img {
	width: 40%;
}

.home_img img {
	width: 100%
}

.home_text {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
}

/* compare */
#dropdown {
	color: white;
	padding: 0.5rem 0;
	margin-bottom: 2.5%;
}

tbody > *:nth-child(2) img {
	width: 120px
}

tbody > *:nth-child(3) img {
	width: 40px !important;
}

.dash-header > *, .dash-cell-value > * {
	text-align: center;
}