*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

footer{
    overflow: hidden;
    background: black;
    color: #f7f708;
    height: 20px;
    align-content: center;
	font-family: "Georgia",serif;
}

header{
    height: 100px;
    background: black;
    width: 100%;
    z-index: 12;
	font-family: "Georgia",serif;
}

.logo{
    width: 50%;
    /* margin: auto auto auto auto; */
    line-height: 100px;
	color: #f7f708;
	font-size: 40px;
	display: block;
	position: absolute;
	left: 25%
}

.esp_logo{
	height: 80px;
	width: 80px;
	left: 200px;
	top: 10px;
	/* margin: auto auto auto auto; */
	display: block;
	position: absolute;
}

.umbr_logo{
	height: 80px;
	width: 80px;
	right: 200px;
	top: 10px;
	/* margin: auto auto auto auto; */
	display: block;
	position: absolute;
}

.content{
    margin-top: 20px;
	margin-bottom: 20px;
}

body {
    padding: 0 0 0 0;
	font-family: sans-serif;
}

#bar {
    width: 75%;
    margin: auto auto auto auto;
	font-family: "Verdana",sans-serif;
	font-style: bold;
}

#total_bar {
	height: 10%;
	width: 75%;
	margin: auto auto auto auto;
	font-family: "Verdana",sans-serif;
	font-style: bold;
}

#dropdown {
	width: 75%;
	left: 12.5%;
	margin: 20px auto auto auto;
}

.Select-placeholder {
	margin-top: 20px;
}

#react-select-2--value {
	margin-top: 40px;
}

#table {
	width: 75%;
	margin: -20px auto auto auto;
}

#table img{
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}